body {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
    height: 100vh;
    margin: 0;
}

.circle {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    background-color: rgb(255, 72, 27);
}

.circle:nth-child(1) {
    align-self: flex-end;
}

.circle:nth-child(2) {
    align-self: center;
}

.circle:nth-child(3) {
    align-self: flex-start;
}
